{% extends 'base/layout.html' %}

{% block content %}
<ul>
{% for celebration in celebrations %}
<li>{{ celebration.celebration_date }} ({{ celebration.celebration_time }}) à {{ celebration.place }}</li>
{% endfor %}
</ul>
{% endblock %}